<h1>Services Grid</h1>

<p>List all Ginger services connected to Ginger sevrices grid</p>

<p *ngIf="!services"><em>Loading...</em></p>

<table class='table' *ngIf="services">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Service ID</th>
      <th>Session ID</th>
      <th>Host</th>
      <th>IP</th>
      <th>OS</th>
      <th>Status</th>
      <th>Actions count</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let service of services">
      <td>{{ service.name }}</td>
      <td>{{ service.serviceId }}</td>
      <td>{{ service.sessionId }}</td>
      <td>{{ service.host }}</td>
      <td>{{ service.ip }}</td>
      <td>{{ service.os }}</td>
      <td>{{ service.status }}</td>
      <td>{{ service.actionCount }}</td>
    </tr>
  </tbody>
</table>

