<h2>Run Sets</h2>

<p>List all Run Sets of the solution</p>

<p *ngIf="!runsets"><em>Loading...</em></p>

<table class='table' *ngIf="runsets">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Elapsed</th>
      <th>Run</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let runset of runsets">
      <td>{{ runset.name }}</td>
      <td>{{ runset.description }}</td>      
      <td>{{ runset.status }}</td>
      <td>{{ runset.elapsed }}</td>
      <td><button class="btnSmall" (click)="run(runset)">Run</button></td>            
    </tr>
  </tbody>
</table>
