<h1>Solution</h1>

<p>Select solution</p>

<p *ngIf="!solutions"><em>Loading...</em></p>

<table class='table' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Name</th>      
      <th>folder</th>      
      <th>Open</th>      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let solution of solutions">
      <td>{{ solution.name }}</td>
      <td>{{ solution.folder }}</td>      
      <td><button (click)="openSolution(solution)">Open</button></td>      
      <td></td>
    </tr>
  </tbody>
</table>

