<h2>Solution</h2>

<p>select a solution to open it</p>
<p *ngIf="!solutions"><em>Loading...</em></p>

<table class='table' *ngIf="solutions">
  <thead class="thead-light">
    <tr>
      <th>Name</th>      
      <th>Solution Location</th>      
      <th>Action</th>      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let solution of solutions">
      <td>{{ solution.name }}</td>
      <td>{{ solution.path }}</td>      
      <td><button class="btnSmall" (click)="openSolution(solution)">Open</button></td>      
    </tr>
  </tbody>
</table>

