<h2>Business Flows</h2>
<div class="row">
  <div class="col-md-9">
    <p>
      List all business flows of the solution
    </p>
  </div>
  <div class="col-md-3">
    <a href="C:\Ginger\Report\BusinessFlowReport.html" target="_blank" class="btnSmall" style="min-width: 50%;float: right; line-height: 25px;">View Report</a>
  </div>
</div>
<p *ngIf="!businessflows"><em>Loading...</em></p>

<table class='table' *ngIf="businessflows">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Filename</th>
      <th>Status</th>
      <th>Elapsed</th>
      <th>Run</th>      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of businessflows">
      <td>{{ forecast.name }}</td>
      <td>{{ forecast.description }}</td>
      <td>{{ forecast.fileName }}</td>
      <td>{{ forecast.status }}</td>
      <td>{{ forecast.elapsed }}</td>
      <td>
        <!--<div ng-show="forecast.status != 'Running' ? true : false">-->
          <button class="btnSmall" (click)="runFlow(forecast)">Run</button>
          <!-- </div>
  <div ng-show="forecast.status == 'Running' ? true : false">
     <img src="spinner.gif" width="15%" />
   </div>-->
</td> 
    </tr>
  </tbody>
</table>

<p>Click run to execute a flow</p>

<div>{{ report }}</div>
